{% extends 'PetService/base.html' %}
{% load static %}

{% block titulo %} Editar contraseña {% endblock titulo %}

{% block cambios %}

<div class="d-flex justify-content-center" style="background-color: aquamarine;">
    <div class="d-flex flex column">
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
                <input type="submit" value="Guardar cambios" style="border-radius: 50px; margin: 5px;"> 
        </form>
    </div>
</div>
{% endblock cambios %}