{% extends 'PetService/base.html' %}
{% load static %}

{% block titulo %} PetService | About {% endblock titulo %}

{% block cambios %}

    <p style="margin: 15px; font-family: Segoe; background-color: rgb(189, 241, 224); text-shadow: 2px 2px 8px black; font-size: large;">
    Mi nombre es Pablo Bouvier, tengo 39 años, soy de Montevideo, Uruguay. 
    Soy un veterinario buscando nuevos desafios, y tratando de sumergirme en el mundo de la programación. 
    Este es mi proyecto final del curso de Python, realizado en Coderhouse. Es un curso de Python y Django, de Programación Orientada a Objetos. 
    Es el primer curso que hago en Coder. Estoy muy entusiasmado con haber dado este primer paso para el cambio. muy feliz con la cursada, 
    satisfecho con los profes, con los tutores y con los compañeros...
    ...y es solo el comienzo!. 
</p>
{% endblock %}
    