{% extends 'PetService/base.html' %}
{% load static %}
{% block titulo %} PetService | Contacto {% endblock titulo %}
{% block cambios %}

<section class="" style="background-color: rgb(37, 179, 179);">
    <div class="container px-0 my-0 px-0">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-5 mb-3"><i class="bi bi-envelope"></i>
            </div>
            <h2 class="fw-bolder">Contactanos</h2>
            <p class="lead mb-0" style="font-size: 25px; color: black; text-decoration: underline; font-weight: 500;">Nos encantaría saber de ti</p><br>
            <h5>Teléfono: +598 99704010</h5>
            <h5><a href="mailto:pablobb.prog@gmail.com">Email: pablobb.prog@gmail.com</a></h5>                
            <h5><a href="https://www.linkedin.com/in/pablo-bouvier-b503b214/">LinkedIn: https://www.linkedin.com/in/pablo-bouvier-b503b214/ </a></h5>
            <h5><a href="https://www.instagram.com/myphotoartstudio2020/">Instagram: https://www.instagram.com/myphotoartstudio2020/ </a></h5>
        </div>
    </section>

{% endblock %}