{% extends 'PetService/base.html' %}
{% load static %}
{% block titulo %} Propietario {% endblock titulo %}


{% block cambios %}
    <h1 style="margin-left: 30px; font-family: cambria; background-color: rgb(222, 241, 176);"> Datos del propietario</h1>
    <p style="margin-left: 30px; background-color: rgb(154, 241, 143);">Nombre: <i>{{propietario.nombre}}</i></p>
    <p style="margin-left: 30px; background-color: rgb(149, 245, 245);">Apellido: <i>{{propietario.apellido}}</i></p>
    <p style="margin-left: 30px; background-color: rgb(154, 241, 143);">CI: <i>{{propietario.dni}}</i></p>
    <p style="margin-left: 30px; background-color: rgb(149, 245, 245);">Teléfono: <i>{{propietario.telefono}}</i></p>
    <p style="margin-left: 30px; background-color: rgb(154, 241, 143);">Email: <i>{{propietario.email}}</i></p>
    <p style="margin-left: 30px; background-color: rgb(149, 245, 245);">Dirección: <i>{{propietario.direccion}}</i></p>
    <p style="margin-left: 30px; background-color: rgb(154, 241, 143);">Mascota: <i>{{propietario.nombre_mascota}}</i></p>

    <p>
        <a href="{% url 'propietario_list' %}" style="color: black; background-color: rgb(222, 241, 176); box-shadow: 3px 3px 3px; font-size: 20px; margin: 30px;"> Regresar </a>
    </p>

{% endblock %}

