{% extends 'PetService/base.html' %}
{% load static %}
{% block titulo %} Propietario {% endblock titulo %}

{% block cambios %}
<h1 style="color: red; text-decoration: underline black; margin-left: 50px;">Eliminar propietario</h1>
<form action="" method="POST" style="margin: 20px;">
    {% csrf_token %}
    ¿Estás seguro que quieres borrar el propietario {{propietario.nombre}} {{propietario.apellido}} ?
    <input type="submit" value="Eliminar" style="color: red; box-shadow: 5px 5px 1px red; margin: 25px;">
</form>

<p>
    <a href="{% url 'propietario_list' %}" style="font-size: 20px; color: rgb(0, 9, 128); margin: 30px;"> REGRESAR </a>
</p>
{% endblock cambios %}

    